<div class="banner-carousel banner-carousel-1 mb-0">
    
    <div class="banner-carousel-item" style="background-image:url(https://cdn.glitch.global/e3790b73-514c-45b3-a987-85c9a4b7481f/man-eng-hero-anim.jpg?v=1642252953039)">
      <div class="slider-content">
          <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-12 text-center">
                  <h2 class="slide-title" data-animation-in="slideInLeft">5 anos de excelência em</h2>
                  <h3 class="slide-sub-title" data-animation-in="slideInRight">Energia Solar</h3>
                  <p data-animation-in="slideInLeft" data-duration-in="1.2">
                      <a href="/servicos" class="slider btn btn-primary">Nossos Serviços</a>
                      <a href="/contato" class="slider btn btn-primary border">Entrar em contato agora</a>
                  </p>
                </div>
            </div>
          </div>
      </div>
    </div>
  
    <div class="banner-carousel-item" style="background-image:url(https://cdn.glitch.global/e3790b73-514c-45b3-a987-85c9a4b7481f/header.jpg?v=1649172937604)">
      <div class="slider-content text-left">
          <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-12">
                  <h2 class="slide-title-box" data-animation-in="slideInDown">Projetos</h2>
                  <h3 class="slide-title" data-animation-in="fadeIn">No Brasil</h3>
                  <h3 class="slide-sub-title" data-animation-in="slideInLeft">Inteiro</h3>
                  <p data-animation-in="slideInRight">
                      <a href="services.html" class="slider btn btn-primary border">Ver filiais</a>
                  </p>
                </div>
            </div>
          </div>
      </div>
    </div>
  
    <div class="banner-carousel-item" style="background-image:url(https://cdn.discordapp.com/attachments/921106059375046706/921424996532912168/header.jpg)">
      <div class="slider-content text-right">
          <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-12">
                  <h2 class="slide-title" data-animation-in="slideInDown">Orçamento</h2>
                  <h3 class="slide-sub-title" data-animation-in="fadeIn">Prático e rápido</h3>
                  <p class="slider-description lead" data-animation-in="slideInRight">Solicite agora!</p>
                  <div data-animation-in="slideInLeft">
                      <a href="/contato" class="slider btn btn-primary" aria-label="contact-with-us">Contato</a>
                      <a href="/sobre" class="slider btn btn-primary border" aria-label="learn-more-about-us">Sobre</a>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>

  </div>