<!--
<section class="subscribe no-padding">
    <div class="container">
      <div class="row">
          <div class="col-md-4">
            <div class="subscribe-call-to-acton">
                <h3>Podemos Ajudar?</h3>
                <h4><%= dbData.infos.telefone %></h4>
            </div>
          </div>
          <div class="col-md-8">
            <div class="ts-newsletter row align-items-center">
                <div class="col-md-5 newsletter-introtext">
                  <h4 class="text-white mb-0">Inscrição Newsletter</h4>
                  <p class="text-white">Últimas Atualizações e Novidades</p>
                </div>
  
                <div class="col-md-7 newsletter-form">
                  <form action="#" method="post">
                      <div class="form-group">
                        <label for="newsletter-email" class="content-hidden">E-mail</label>
                        <input type="email" name="email" id="newsletter-email" class="form-control form-control-lg" placeholder="Coloque seu E-mail">
                      </div>
                  </form>
                </div>
            </div>
          </div>
      </div>
    </div>
  </section>
-->