<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="column-title">Avaliações</h3>
        <div data-aos="fade-right" id="testimonial-slide" class="testimonial-slide">
         <div class="elfsight-app-1538fdb7-22ac-4e64-8fc3-262296b93049"></div>
        </div>
      </div>
      <div class="col-lg-6 mt-5 mt-lg-0">
        <h3 class="column-title">Parceiros</h3>
        <div class="row all-clients">
          <%dbData.partners.forEach((item, i)=> { %>
            <div data-aos="fade-up" class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="<%=item.website%>"><img loading="lazy" class="img-fluid" src="<%=item.src%>"
                    alt="<%=item.name%>" /></a>
              </figure>
            </div>
            <%});%>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://apps.elfsight.com/p/platform.js"></script>
