<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="column-title">Avaliações</h3>
        <div data-aos="fade-right" id="testimonial-slide" class="testimonial-slide">
          <div class="item">
            <div class="quote-item">
              <span class="quote-text">
                Empresa excelente no atendimento ao cliente, confiável e competente, a maior revenda de energia solar do Brasil
              </span>

              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb" src="https://lh3.googleusercontent.com/a/AATXAJxRokTGeNxxU2ON22swetxrLF2_soju_P2wTYVA=w60-h60-p-rp-mo-br100" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">Henrique Maia</h3>
                  <span class="quote-subtext"></span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div>
          <!--/ Item 1 end -->
          <div class="item">
            <div class="quote-item">
              <span class="quote-text">
                Um excelente profissionalismo e bom atendimento
              </span>
              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb" src="https://lh3.googleusercontent.com/a-/AOh14GjSV2dL7Aj6F1FugN5277UowtVL_bRiOAMIh3dpJQ=w60-h60-p-rp-mo-br100" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">Walter Silva</h3>
                  <span class="quote-subtext"></span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div>
          <!--/ Item 2 end -->
          <div class="item">
            <div class="quote-item">
              <span class="quote-text">
                Empresa excelente
              </span>
              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb" src="https://lh3.googleusercontent.com/a/AATXAJzXRYQ6oqI-0uATJ5ozofuog4w545fBTVeZI8Qx=w60-h60-p-rp-mo-br100" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">Taynara Bastos</h3>
                  <span class="quote-subtext"></span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div>
          <!--/ Item 3 end -->
        </div>
        <!--/ Testimonial carousel end-->
      </div><!-- Col end -->
      <div class="col-lg-6 mt-5 mt-lg-0">
        <h3 class="column-title">Parceiros</h3>
        <div class="row all-clients">
          <%dbData.partners.forEach((item, i)=> { %>
            <div data-aos="fade-up" class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="<%=item.website%>"><img loading="lazy" class="img-fluid" src="<%=item.src%>"
                    alt="<%=item.name%>" /></a>
              </figure>
            </div><!-- Client 1 end -->
            <%});%>
        </div><!-- Clients row end -->
      </div><!-- Col end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Content end -->