<section id="como-funciona-energia-solar" class="facts-area dark-bg">
    <div class="container">
        <h2>Como funciona a energia solar?</h2>
        <p>Veja o vídeo abaixo e tire algumas de suas dúvidas.</p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="731" height="411" src="https://www.youtube.com/embed/ekxYqw220rA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        </div>
    </div>
</section>