<%- include('../../partials/header.ejs') %>
    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 30px;">
                    <h3 class="column-title">Login Rápido</h3>
                    <a class="btn btn-primary" href="google">
                        <span class="social-icon"><i class="fab fa-google"></i></span>
                        Fazer Login Com Google</a>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <h3 class="column-title">LOGIN INTEGRADOR</h3>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Endereço de E-Mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="exemplo@empresa.com.br" required>
                            <small id="emailHelp" class="form-text text-muted">
                                Nós nunca compartilhamos suas informações.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*****"
                                required>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LdVlH8hAAAAALRFxFNEeXeDHzeHs9OdMDoa7Rkd"></div>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </form>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <h3 class="column-title">REGISTRO INTEGRADOR</h3>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Endereço de E-Mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="exemplo@empresa.com.br" required>
                            <small id="emailHelp" class="form-text text-muted">Nós nunca compartilhamos suas
                                informações.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*****"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Repetir senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*****"
                                required>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">Li e estou de acordo com a <a
                                    href="">Política de Privacidade</a>, <a href="">Termos de Uso</a> e <a href="">Boas
                                    práticas do integrador</a></label>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LdVlH8hAAAAALRFxFNEeXeDHzeHs9OdMDoa7Rkd"></div>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include('../../partials/footer.ejs') %>