<%- include('../../partials/header.ejs') %>
    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <h3 class="border-title border-left mar-t0">Minha Conta</h3>
                | Em Desenvolvimento

                <div class="accordion accordion-group accordion-classic" id="construction-accordion"
                    style="width: 100%;">

                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="heading0">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse0" aria-expanded="false" aria-controls="collapse0">
                                    Dados/Documentos
                                </button>
                            </h2>
                        </div>
                        <div id="collapse0" class="collapse" aria-labelledby="heading0"
                            data-parent="#construction-accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="heading1">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                    Boletos
                                </button>
                            </h2>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="heading1"
                            data-parent="#construction-accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="heading6">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    Pedidos
                                </button>
                            </h2>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6"
                            data-parent="#construction-accordion">
                            <div class="card-body">
                                <a class="btn btn-primary" href="">Acessar Pedidos</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="heading2">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Cadastro de Clientes para Venda
                                </button>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2"
                            data-parent="#construction-accordion">
                            <div class="card-body">
                                <a class="btn btn-primary" href="">Abrir Formulário</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="heading3">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Meu Contrato
                                </button>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3"
                            data-parent="#construction-accordion">
                            <div class="card-body">
                                <a class="btn btn-primary" href="">Baixar Contrato</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="heading4">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Comissão de Venda
                                </button>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4"
                            data-parent="#construction-accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="heading5">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Controle de Equipe
                                </button>
                            </h2>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5"
                            data-parent="#construction-accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0 bg-transparent" id="heading6">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    E-mail Personalizado
                                </button>
                            </h2>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6"
                            data-parent="#construction-accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <%- include('../../partials/footer.ejs') %>