<%- include('../../partials/header.ejs') %>
    <section id="main-container" class="main-container">
        <div class="container">
            <h3 class="border-title border-left mar-t0">Registrar Cliente</h3>
            <h6>SELECIONE O TIPO:</h6>
            <div class="row">
                <div class="tabs mt-3" style="width: 100%;">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pFisica-tab" data-toggle="tab" href="#pFisica" role="tab"
                                aria-controls="pFisica" aria-selected="true">
                                <b>PESSOA FÍSICA</b>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pJuridica-tab" data-toggle="tab" href="#pJuridica" role="tab"
                                aria-controls="pJuridica" aria-selected="true">
                                <b>PESSOA JURÍDICA</b>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show" id="pFisica" role="tabpanel" aria-labelledby="pFisica-tab">
                            <div class="mt-5 mx-5">
                                <div class="text-center">
                                    <h5>Registro de Pessoa Física</h5>
                                </div>
                                <div class="form mt-3">
                                    <form action="/" method="POST">
                                        <h5>Dados Básicos</h5>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="cpf">CPF conforme Unidade Consumidora</label>
                                                <input type="text" name="cpf" class="form-control" id="cpf" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="nascDate">Data de Nascimento</label>
                                                <input type="date" name="nascDate" class="form-control" id="nascDate"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="compName">Nome completo conforme documento oficial</label>
                                                <input type="text" name="compName" class="form-control" id="compName"
                                                    required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="RG">RG</label>
                                                <input type="text" name="RG" class="form-control" id="RG" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="orgEmi">Orgão Emissor</label>
                                                <input type="text" name="orgEmi" class="form-control" id="orgEmi"
                                                    required>
                                            </div>
                                        </div>
                                        <h5>Endereço da unidade consumidora</h5>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="cep">CEP DA UNIDADE CONSUMIDORA</label>
                                                <input type="number" name="cep" class="form-control" id="cep" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="estado">ESTADO DA UNIDADE CONSUMIDORA</label>
                                                <input type="text" name="estado" class="form-control" id="estado"
                                                    required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="cidade">CIDADE DA UNIDADE CONSUMIDORA</label>
                                                <input type="text" name="cidade" class="form-control" id="cidade"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="endereco">ENDEREÇO DA UNIDADE CONSUMIDORA</label>
                                                <input type="text" name="endereco" class="form-control" id="endereco"
                                                    required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="bairro">BAIRRO DA UNIDADE CONSUMIDORA</label>
                                                <input type="text" name="bairro" class="form-control" id="bairro"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="nEnd">NÚMERO DE ENDEREÇO DA UNIDADE CONSUMIDORA</label>
                                                <input type="number" name="nEnd" class="form-control" id="nEnd"
                                                    required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="compl">COMPLEMENTO DE ENDEREÇO DA UNIDADE
                                                    CONSUMIDORA</label>
                                                <input type="text" name="compl" class="form-control" id="compl">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="comprovanteEnd">
                                                <label class="custom-file-label" for="comprovanteEnd"
                                                    data-browse="Procurar arquivo">Comprovante de
                                                    Endereço: CONTA DE LUZ DA UNIDADE CONSUMIDORA</label>
                                            </div>
                                        </div>
                                        <h5>CONTATOS DO CLIENTE DA UNIDADE CONSUMIDORA (NÃO USE DADOS DA SUA REVENDA)
                                        </h5>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="telefone">Telefone</label>
                                                <input type="text" name="telefone" class="form-control" id="telefone"
                                                    required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="telefoneCelular">Telefone Celular</label>
                                                <input type="text" name="telefoneCelular" class="form-control" id="telefoneCelular"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="email">E-Mail</label>
                                                <input type="text" name="email" class="form-control" id="email"
                                                    required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="emailConf">E-Mail Confirme</label>
                                                <input type="text" name="emailConf" class="form-control" id="emailConf"
                                                    required>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Registrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="pJuridica" role="tabpanel" aria-labelledby="pJuridica-tab">
                            <div class="mt-5 mx-5">
                                <div class="text-center">
                                    <h5>Registro de Pessoa Jurídica</h5>
                                </div>
                                <div class="form mt-3">
                                    <form action="/" method="POST">

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('../../partials/footer.ejs') %>