<%- include('../../partials/header.ejs') %>
  <div id="banner-area" class="banner-area" style="background-image:url(images/banner/banner1.jpg)">
    <div class="banner-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-heading">
              <h1 class="banner-title">Nosso Time</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="/">Página principal</a></li>
                  <li class="breadcrumb-item"><a href="#">Empresa</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Staffs</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="main-container" class="main-container pb-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <h3 class="section-sub-title">Nossos Líderes</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="images/team/team1.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Walter Silva</h3>
              <p class="ts-designation">CEO</p>
              <p class="ts-description">Fundador e chefe das equipes</p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="images/team/team2.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Taynara Bastos Trindade</h3>
              <p class="ts-designation">Engenheira Eletricista - Gerente </p>
              <p class="ts-description">Projetos elétricos e homologação</p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="images/team/team3.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Henrique Maia Cocco</h3>
              <p class="ts-designation">Execução - Supervisão de Obras - Eletricista</p>
              <p class="ts-description">Responsável pela equipe em campo e obras</p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="images/team/team4.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Bianca "Thisi"</h3>
              <p class="ts-designation">Social Media</p>
              <p class="ts-description">Internauta responsável pelas redes sociais e comunicação da empresa.</p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="images/team/team5.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Valnei</h3>
              <p class="ts-designation">Eletricista - Instalador</p>
              <p class="ts-description">Responsável pelas instalações dos sistemas e auxílio geral em campo.</p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="images/team/team6.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Antônio</h3>
              <p class="ts-designation">Eletricista - Instalador</p>
              <p class="ts-description">Responsável pelas instalações dos sistemas e auxílio geral em campo.</p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="images/team/team6.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Raul Rodrigues</h3>
              <p class="ts-designation">Diretor de T.I - Marketing</p>
              <p class="ts-description">Responsável pelas redes sociais, site, sistemas e automações utilizadas pela empresa. O mesmo também contribui para áreas gerais.</p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('../../partials/footer.ejs') %>